@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,400&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max-width {
  padding: 0 80px;
  width: 1300px;
  margin: auto;
}

/*------- NAVBAR --------*/

.navbar {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  font-family: 'Ubuntu', sans-serif;
  height: 70px;
  transition: all 0.3s ease;
  background-color: black;
}

.navbar.sticky {
  background-color: black;
  padding: 15px 0;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 500;
}

.navbar .logo a span {
  color: rgb(250, 240, 99);
}

.navbar.sticky .logo a span {
  color: #fff;
  transition: all 0.3s ease;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: rgb(250, 240, 99);
}

/* ------- HOME ---------*/
.home {
  display: flex;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif;
  background-image: url(/images/cover.png);
  background-size: 100% 100%;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 500;
  margin-left: -3px;
  color: #fff;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: rgb(250, 240, 99);
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  background: black;
  color: white;
  font-size: 25px;
  padding: 12px 36px;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 20px;
}

.home .home-content a:hover {
  color: black;
  border: 2px solid rgb(250, 240, 99);
  background: rgb(250, 240, 99);
}

/* -------ABOUT------ */

section {
  padding: 50px 0;
  height: fit-content;
  background-color: rgb(250, 240, 99);
}
.about,
.services,
.contact {
  font-family: 'Roboto', sans-serif;
}

.about .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .tittle {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 43px;
  font-weight: 500px;
  margin-bottom: 60px;
  padding-bottom: 10px;
  position: relative;
  color: black;
}

.about .about-content .column-left {
  display: flex;
  width: 45%;
}
.about .about-content .column-left img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 6px solid black;
  border-radius: 20px;
}

.about .about-content .column-right {
  width: 55%;
  background-color: rgba(255, 255, 255, 0.678);
  padding: 50px;
  border: 5px white;
  border-radius: 10px;
}

.about .about-content .column-right .text {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about .about-content .column-right h2 {
  color: black;
  margin-bottom: 20px;
}
.about .about-content .column-right p {
  font-size: 20px;
}

.about .about-content .column-right a {
  display: inline-block;
  background: black;
  color: #fff;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 15px;
  transition: all 0.3s ease;
}

.about .about-content .column-right a:hover {
  color: rgb(250, 240, 99);
}

.about .about-content .column-left {
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
}

/* -------SERVICES------ */
.services,
.teams {
  background: #111;
  padding-top: 130px;
  padding-bottom: 130px;
  height: 100%;
}
.services .tittle {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500px;
  margin-bottom: 60px;
  padding-bottom: 10px;
  position: relative;
  color: #fff;
}
.services .service-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services .service-content .card {
  width: calc(33% - 20px);
  background: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.services .service-content .card:hover {
  background: rgb(250, 240, 99);
}
.services .service-content .card .box {
  transition: all 0.3s ease;
}
.services .service-content .card:hover .box {
  transform: scale(1.05);
}
.services .service-content .card ion-icon {
  font-size: 70px;
  color: rgb(250, 240, 99);
}
.services .service-content .card:hover ion-icon {
  color: #fff;
}
.services .service-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

/*----- CONTACT -----*/
.contact {
  height: 700px;
}
.contact .tittle {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 43px;
  font-weight: 500px;
  margin-bottom: 60px;
  padding-bottom: 10px;
  position: relative;
  color: black;
}
.contact .contact-content {
  display: flex;
}

.contact .contact-content .column {
  width: 50%;
}

.contact .contact-content .left p {
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 30px;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .row ion-icon {
  font-size: 25px;
  color: black;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 25px;
}

.contact .contact-content .right {
  width: 50%;
  margin-left: 50px;
}

.contact .right form .field,
.contact .right form .fields .field {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  resize: none;
}

.contact .right form .textarea textarea {
  height: 100px;
}

.contact .right form .button {
  width: 170px;
  height: 47px;
}

.contact .right form .button button {
  margin-top: 60px;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  background: black;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact .right form .button button:hover {
  color: rgb(250, 240, 99);
  background: black;
}

/*----- FOOTER -----*/

.footer {
  width: 100%;
  height: auto;
  background-color: #111;
}

.footer .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
}

.footer .buttons .github {
  margin-right: 15px;
}

.footer .buttons a {
  color: rgb(250, 240, 99);
}

.footer h4 {
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
  color: rgb(250, 240, 99);
}
